@tailwind base;
@tailwind components;
@tailwind utilities;

.flex::before,
.flex::after {
    display: none !important;
}

/* INPUT: Start */
.input-primary {
    @apply focus:bg-form-bg focus:outline-alerange focus:outline-none;
}

.input-primary-outline {
    @apply bg-white outline outline-1 outline-gray-400 focus:outline-2 focus:outline-alerange transition-all;
}

.input-error {
    @apply ring ring-red-600;
}

@layer components {
    [type="text"],
    input:where(:not([type])),
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        border-color: transparent !important;
    }

    [type="text"]:focus,
    [type="email"]:focus,
    [type="url"]:focus,
    [type="password"]:focus,
    [type="number"]:focus,
    [type="date"]:focus,
    [type="datetime-local"]:focus,
    [type="month"]:focus,
    [type="search"]:focus,
    [type="tel"]:focus,
    [type="time"]:focus,
    [type="week"]:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
        border-color: transparent !important;
        --tw-ring-color: transparent !important;
    }
}
/* INPUT: End */

/* BUTTON: Start */
.btn-primary {
    @apply bg-alerange text-white transition-all duration-300 hover:shadow-[0_4px_15px_0_#fb69084D] ;
}

.btn-warning {
    @apply bg-yellow-500 text-white;
}

.btn-danger {
    @apply bg-red-500 text-white;
}

.btn-light-outline {
    @apply text-white border border-white;
}

.btn-white-outline {
    @apply text-black border border-[#F1F1F1];
}
/* BUTTON: End */

/* SIDEBAR: Start */
@layer components {
    .side-link {
        @apply flex items-center font-normal text-black text-sm w-full mb-5 gap-3 transition-all;
    }

    .side-link svg {
        @apply text-[#B7B7B7];
    }
    .side-link.active {
        @apply font-semibold border-r-[3px] border-alerange;
    }

    .side-link.active svg {
        @apply text-alerange;
    }

    input.top-search {
        @apply rounded-full outline outline-1 outline-gray-400 placeholder:text-gray-400 text-base text-slate-700 px-5 py-[11px]
            w-full max-w-[570px] focus:outline-2 focus:outline-alerange focus:ring-2 transition-all bg-no-repeat bg-center bg-[center_right_20px];
    }
}
/* SIDEBAR: End */
